.sidebar {
    width: 30%; 
    min-width: 60px; 
    height: 100vh;
    color: #ffffff;
    background-color: rgb(247, 248, 250) !important; 
    /* background-color: #e7e7e7 !important;  */
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(247, 248, 250);
  }
  
 
  .sidebar.expanded {
    width: 30%;
  }
  
  .sidebar.minimized {
    width: 60px;
  }
  .text{
    /* color:  rgb(98, 98, 110); */
    color: black;
    margin-right: 10px;
  }
  
  .toggle-button {
    cursor: pointer;
    margin-left: 45%;
    padding: 8px;
    text-align: right;
    /* background-color: rgb(214, 219, 222); */
    background-color: 1px solid rgb(176, 186, 199);
    border-width: 0px;
    
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
  }
  
  .collapsible-panel {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    margin-top: auto; /* Push the panel to the bottom */
    background-color: #c8c5c5;
    color: #fff;
  }
  .text-light {
    color: #f8f9fa;
  }
  .toggle-container{
    /* border-bottom: 1px solid rgb(216, 220, 227); */
    border-bottom: 2px solid #d8dce3;
    color:black;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    /*  */
    display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .dropdown{
    /* margin: 10px; */
    padding: 22px 20px 20px;
  }